/* ======== Header 2 ======== */
.section-title,
.mobile-menu-list-item {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.section-title {
  margin-bottom: 72px;
}

/* ======== Header 3 - Team, Portfolio ======== */
.card-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* ======== BUTTON ======== */
.big-btn {
  display: block;
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.big-btn:hover,
.big-btn:focus,
.big-btn:active {
  background-color: var(--ocean);
}
