.hero-container {
  text-align: center;
  max-width: 1440px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../../images/hero/people_office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-container {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../../images/hero/people-office-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../../images/hero/people-office-tablet.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../../images/hero/people-office-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../../images/hero/people-office.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
      url(../../images/hero/people-office@2x.jpg);
  }
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 220px;
  margin: auto;
}

.hero-cont-btn {
  padding: 16px 32px;
  margin: 72px auto 0 auto;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.active-page {
  color: var(--ocean);
}

@media screen and (max-width: 767px) {
  .hero-title {
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 112px 0;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }

  .hero-cont-btn {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-container {
    padding: 188px 0;
  }

  .hero-cont-btn {
    margin-top: 48px;
  }
}
